.one{
    position: absolute;
    font-size: 3.4cm;
    top: 3cm;
    left: 6cm;
    font-family: fantasy;
    color: rgb(107, 107, 150);
}

.history{
    position: absolute;
    font-size: 0.8cm;
    top: 4.9cm;
    left: 9.2cm;
    font-family: fantasy;
    color: rgb(45, 45, 68);
}

body{
    background-repeat:no-repeat;
    background-size:cover;
}

.lorem{
    position: absolute;
    font-size: 0.4cm;
    top: 6.5cm;
    left: 8cm;
    font-family: sans-serif;
}

.h{
    position: absolute;
    top: 15px;
    right: 10cm;
    font-size: 13px;
    font-family: fantasy;
    font-style: italic;
}

.t{
    position: absolute;
    top: 15px;
    right: 7cm;
    font-size: 13px;
    font-family: fantasy;
    font-style: italic;
}

#dp {
    position: absolute;
    top: 9px;
    left: 6cm;
    border-radius: 50%;
    height: 1cm;
    border:1px solid rgb(171, 171, 181);
}

.losangeles{
    position: absolute;
    top: 6px;
    left: 7.3cm;
    font-family: fantasy;
    font-size: 0.5cm;
    color: rgb(58, 58, 79);
}

.rectangle{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:2.9cm;
    background:rgb(64, 64, 95);
    opacity: 0.7;
}

.rectangle2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height:1.5cm;
    background: white;
}

#view1{
    position: absolute;
    bottom: 15px;
    left: 12cm;
    height: 2.2cm;
    width: 4cm;
}

#view2{
    position: absolute;
    bottom: 15px;
    left: 16.2cm;
    height: 2.2cm;
    width: 4cm;
}

#view3{
    position: absolute;
    bottom: 15px;
    left: 20.4cm;
    height: 2.2cm;
    width: 4cm;
}

#view4{
    position: absolute;
    bottom: 15px;
    left: 24.6cm;
    height: 2.2cm;
    width: 4cm;
}  

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }